@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

header {
  display: flex;
  flex-direction: column;
}

.contenedor-superior {
  color: #f3f3f3;
  background-color: #222222;
  font-weight: 400;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  padding: 0 3.5rem;
}

.contenedor-superior > p {
  padding-left: 2.5rem;
}

.lista-superior,
.navbar-list {
  width: 6vw;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;
}

.navbar {
  color: #ffffff;
  background-color: #f0a83e;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.contenedor-titulo-principal,
.navbar-list > li {
  display: flex;
}

h1,
.front {
  margin-right: 0.2rem;
  font-weight: 700;
}

.front {
  color: #3c2313;
}

.navbar-list {
  width: 30vw;
}

.navbar-list img {
  margin-right: 0.1rem;
}

main {
  height: 88%;
}

.banner {
  background-image: url("../img/bowl-and-pet-daities-on-green-background\ 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
  height: 90%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.contenedor-texto-banner {
  margin: 3rem 1rem 0 0;
  height: 37%;
  max-width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.texto-superior-banner {
  font-size: 2.5rem;
  padding: 0.7rem;
  background-color: #ffffff;
  color: #3c2313;
  border-radius: 5px;
}

.texto-medio-banner {
  font-size: 1.56rem;
  color: #3c2313;
}

.texto-inferior-banner {
  font-size: 1.56rem;
  color: #ffffff;
  background-color: #f0a83e;
  border-radius: 5px;
  height: 2.2em;
  width: 7.7em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productos {
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.texto-productos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.texto-productos > h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 0.75rem auto;
  color: #3c2313;
  text-align: center;
}

.texto-productos > p {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1rem;
  color: #666666;
}

.texto-productos > p > span {
  margin: 0 0.65rem;
}

.img-productos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  height: 50%;
  width: 60%;
  padding: 1% 0;
}

figure {
  margin: 2% 0;
  display: flex;
  flex-direction: column;
}

figure > img {
  flex-grow: 0.5;
}

figcaption {
  text-align: center;
  background-color: #fbfaf6;
  margin-top: -5px;
}

.descripcion-img-producto,
.precio {
  color: #3c2313;
  font-weight: 500;
  font-size: 15px;
}

.precio {
  color: #f0a83e;
}

.contacto > h2 {
  text-align: center;
  margin-top: 70px;
  font-weight: 700;
  color: #3c2313;
  font-size: 30px;
}

form {
  display: grid;
  row-gap: 1rem;
  margin: 20px auto;
  width: 300px;
}

input {
  background-color: #3c2313;
}
