@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body{
    width: 100vw;
} */

header {
  display: flex;
  flex-direction: column;
}

.contenedor-superior {
  color: #f3f3f3;
  background-color: #222222;
  font-weight: 400;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  padding: 0 4rem;
}

.contenedor-superior > p {
  padding-left: 2rem;
}

.lista-superior {
  display: flex;
  list-style: none;
}

.lista-superior > li {
  margin-left: 1.5rem;
}

.navbar {
  color: #ffffff;
  background-color: #f0a83e;
  height: 62px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

.contenedor-titulo-principal {
  display: flex;
}

h1 {
  margin-right: 0.2rem;
  font-weight: 700;
}

.front {
  color: #3c2313;
  font-weight: 700;
  margin-right: 3px;
}

.navbar-list {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li {
  padding: 0.8rem;
  display: flex;
}

li > img {
  margin-right: 0.1rem;
}


.banner {
  /* background-image: url("../img/bowl-and-pet-daities-on-green-background.svg"); */
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.texto-banner {
  margin-right: 30px;
  width: 485px;
}

.texto-banner > p {
  font-weight: 400;
}

.texto-superior-banner {
  font-size: 40px;
  height: 60px;
  background-color: #ffffff;
  color: #3c2313;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.texto-medio-banner {
  font-size: 25px;
  color: #3c2313;
  text-align: center;
  margin: 15px auto;
}

.texto-inferior-banner {
  font-size: 25px;
  color: #ffffff;
  background-color: #f0a83e;
  border-radius: 5px;
  height: 65px;
  width: 215px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 23px auto;
}

.texto-productos > h2 {
  font-size: 45px;
  font-weight: 700;
  margin: 12px auto;
  color: #3c2313;
}

.texto-productos > img {
  display: block;
  margin: auto;
}

.texto-productos > p {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  margin: 25px auto;
  color: #666666;
}

.texto-productos > p > span {
  margin-left: 10px;
  margin-right: 10px;
}

.img-productos {
  display: flex;
  align-items: center;
  justify-content: center;
}

figure {
  margin: auto 10px;
}

figure > img {
  width: 295px;
}

figcaption {
  text-align: center;
  background-color: #fbfaf6;
  margin-top: -5px;
}

.descripcion-img-producto,
.precio {
  color: #3c2313;
  font-weight: 500;
  font-size: 15px;
}

.precio {
  color: #f0a83e;
}

.contacto > h2 {
  text-align: center;
  margin-top: 70px;
  font-weight: 700;
  color: #3c2313;
  font-size: 30px;
}

form {
  display: grid;
  row-gap: 1rem;
  margin: 20px auto;
  width: 300px;
}

input {
  background-color: #3c2313;
}
